.inputField_password {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.textField_password {
  background-color: #eaeaea;
  border: 1px solid #bdafaf;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 8px;
}

.errorMessage {
  color: rgb(219, 0, 0);
  font-size: 14px;
}

.label {
  display: flex;
  justify-content: space-between;
}

.verified {
  font-size: 14px;
  font-weight: normal;
  color: green;
}
