.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.FormContainer {
  margin-top: 4vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Form {
  border: 1px solid black;
  width: 80%;
  border-radius: 10px;
  padding-top: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.FormTitle {
  margin-top: none;
}

.FormBody {
  text-align: left;
}

.button {
  color: white;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #0b3d2e;
  font-weight: bold;
  border-radius: 8px;
  font-size: medium;
  transition: 0.2s ease;
}

.button:hover {
  border: none;
  background-color: #11694a;
  cursor: pointer;
}
