.inputField_verify {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.textField_verify {
  background-color: #eaeaea;
  border: 1px solid #bdafaf;
  flex: 1;
  margin-left: 10px;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 8px;
}

.p_Verify {
  font-size: small;
}

.verifyButtons {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 10px;
}

.backButton {
  color: black;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(83, 83, 83);
  background-color: white;
  font-weight: bold;
  border-radius: 8px;
  font-size: medium;
  transition: 0.2s ease;
}

.backButton:hover {
  background-color: #e0e0e0; /* light gray */
  border: 1px solid #999;
  cursor: pointer;
}
