.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.loginContainer {
  margin-top: 10vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loginForm {
  border: 1px solid black;
  width: 80%;
  border-radius: 10px;
  padding: 40px;
  background-color: #ffffff;
}

.inputField {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.textField {
  background-color: #eaeaea;
  border: 1px solid #bdafaf;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 8px;
}

.button {
  color: white;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #0b3d2e;
  font-weight: bold;
  border-radius: 8px;
  font-size: medium;
  transition: 0.2s ease;
}

.button:hover {
  border: none;
  background-color: #11694a;
  cursor: pointer;
}

.signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.highlight {
  color: #1481d4;
  text-decoration: underline;
}

.highlight:hover {
  cursor: pointer;
}

.errorMessage {
  text-align: left;
  color: rgb(219, 0, 0);
  font-size: 14px;
}
