.container {
  width: 60%;
  margin: 30px auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #cbb;
  padding: 25px;
  border-radius: 15px;
}

input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.questionRow {
  display: flex;
  gap: 10px;
}

.questionRow button {
  background: #c62828;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0 12px;
  cursor: pointer;
}

.addBtn {
  margin-top: 10px;
  background: #1976d2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.actions button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.actions button:last-child {
  background: #0e7a0c;
  color: white;
}
