.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.FormContainer {
  margin-top: 4vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Form {
  border: 1px solid black;
  width: 80%;
  border-radius: 10px;
  padding-top: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.FormTitle {
  margin-top: none;
}

.FormBody {
  text-align: left;
}

.inputField_verify {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.textField_verify {
  background-color: #eaeaea;
  border: 1px solid #bdafaf;
  flex: 1;
  margin-left: 10px;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 8px;
}

.button {
  color: white;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #0b3d2e;
  font-weight: bold;
  border-radius: 8px;
  font-size: medium;
  transition: 0.2s ease;
}

.button:hover {
  border: none;
  background-color: #11694a;
  cursor: pointer;
}

.p_Verify {
  font-size: small;
}

.verifyButtons {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 10px;
}

.backButton {
  color: black;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(83, 83, 83);
  background-color: white;
  font-weight: bold;
  border-radius: 8px;
  font-size: medium;
  transition: 0.2s ease;
}

.backButton:hover {
  background-color: #e0e0e0; /* light gray */
  border: 1px solid #999;
  cursor: pointer;
}

.inputField_password {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.textField_password {
  background-color: #eaeaea;
  border: 1px solid #bdafaf;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 8px;
}

.errorMessage {
  color: rgb(219, 0, 0);
  font-size: 14px;
}
