.wholetable{
    border: 1px solid grey;
    border-radius: 8px;
    margin: 0 auto;
    width:45%;
    padding: 10px;
   
}
.wholetable th {
  padding: 10px 30px ;
  border-bottom: 1px solid #ddd;
  text-align:left;
}
.wholetable td {
  padding: 20px 33px ;
  border-bottom: 1px solid #eee;
}