.searchbar{
    border: 1px solid grey;
    padding: 15px;
    width: 43%;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    margin-bottom:20px;
 
  
}
.buttonngclear{
    width: 120px;
    border-radius: 8px;
    border:1px solid red;
    color: red;
    background-color:white;

    
}
.buttonngsearch{
    width: 120px;
    border-radius: 8px;
    border:1px solid black;
    background-color:black;
    color:white
}
.buttonngfilter{
    width: 120px;
    border-radius: 8px;
    border:1px solid grey;
    background-color:white;
}
.idle{
    border: 1px solid grey;
    border-radius: 8px;
    padding: 8px;
    background-color: lightgrey;
    width: 250px;
}
.Totalsub {
    margin: 0 auto;
    text-align:left;

}