
.home_container {
    padding: 20px;
    font-family: Arial, sans-serif;
 
}
.home_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_circle {
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
}
.table{
    border: 1px solid grey;
    padding: 20px;
    flex:1;
    width:60%;
    margin:0 auto;
    border-radius: 15px;
}
.TotalSubmissions{
    padding:5px;
    font-weight:bold;
    font-size: 18px;
}
.sort_con{
    border:1px grey solid;
    display:flex;
    padding: 10px;
    border-radius: 8px;
    justify-content: space-between;
    margin-bottom:10px;
}
.table_con{
   justify-content: center;
   display:flex;
   flex:1;
}
.search_bar{
    border-radius: 8px;
    border: 1px solid grey;
    display:flex;
    flex:1;
    justify-content: center;
  

}
.search_bar input{
    width:100%;
    flex:1;
    border: 1px solid lightgrey;
    border-radius:8px;
    padding: 10px;
    background: lightgrey;
    color: grey;
}
.btn{
   
    width:100%;
    border-radius: 8px;
    
}
.btn_container{
    display:flex;
    flex:1 ;
    justify-content: space-between;
    gap:10px;
    margin-left:10px;
    
}
.clear{
    background-color:white;
    color:red;
    border:1px solid red
}
.search{
    background-color:black;
    color:white;
    border:1px solid black;
}
.filter{
    background-color:white;
    color:black;
    border:1px solid grey;
}   
